<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item>
      <a routerLink="/">首页</a>
    </d-breadcrumb-item>
    <d-breadcrumb-item>rxjs</d-breadcrumb-item>
    <d-breadcrumb-item>subject</d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    subject
  </div>
  <div class="summary-markdown">
    <markdown ngPreserveWhitespaces>
      ## RxJs
  
      [官方中文 入门](https://cn.rx.js.org/manual/overview.html)<br>
      [学习 RxJs](https://rxjs-cn.github.io/learn-rxjs-operators/)
    </markdown>
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">

        <p>打开控制台Console，查看结果</p>
        <br>

        <div>
          <d-button (click)="firstFn()">Subject 作为 Observable</d-button>
          <d-button (click)="secondFn()">Subject 作为 Observer</d-button>
        </div>

        <div>
          <d-button (click)="thirdFn()">多播</d-button>
          <d-button (click)="fourthFn()">ConnectableObservable refCount</d-button>
          <d-button (click)="fourthPlusFn()">publish refCount</d-button>
        </div>

        <div>
          <d-button (click)="fivethFn()">BehaviorSubject</d-button>
          <d-button (click)="sixthFn()">ReplaySubject</d-button>
          <d-button (click)="seventhFn()">AsyncSubject</d-button>
        </div>

      </div>
    </da-col-item>
  </da-layout-row>
</div>
