<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item>
      <a routerLink="/">首页</a>
    </d-breadcrumb-item>
    <d-breadcrumb-item>rxjs</d-breadcrumb-item>
    <d-breadcrumb-item>第一次尝试</d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    第一次尝试
  </div>
  <div class="summary-markdown">
    <markdown ngPreserveWhitespaces>
      ## RxJs
  
      [官方中文 入门](https://cn.rx.js.org/manual/overview.html)<br>
      [学习 RxJs](https://rxjs-cn.github.io/learn-rxjs-operators/)
    </markdown>
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">

        <p>点击屏幕任意位置</p>
        <p>打开控制台Console，查看结果</p>

      </div>
    </da-col-item>
  </da-layout-row>
</div>
