@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.da-content-card {
  min-height: 300px;
  padding: 1.5rem;
}



.group-item {
  margin-bottom: 8px;

  .radio-item {
    margin-right: 8px;
  }
}