div {
  margin-bottom: 16px;
}

button {
  padding: 6px 16px;
  font-size: 16px;
  border-style: solid;
}

input {
  border-style: solid;
  padding: 6px 8px;
}



// default 样式
:host-context(.default) {
  --border-color: #ddd;
  --text-color: #333;

  button {
    color: var(--text-color);
    background-color: transparent;
    border-color: var(--border-color);
  }

  input {
    border-color: var(--border-color);
  }
}

// dark 样式
:host-context(.dark) {
  --border-color: #ddd;
  --background-color: #333;
  --text-color: #fff;

  button {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }

  input {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
}

// vue 样式
:host-context(.vue) {
  --border-color: #41B883;
  --text-color: #41B883;

  button {
    color: var(--text-color);
    background-color: transparent;
    border-color: var(--border-color);
  }

  input {
    color: var(--text-color);
    background-color: transparent;
    border-color: var(--border-color);
  }
}