
<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item>
      <a routerLink="/">首页</a>
    </d-breadcrumb-item>
    <d-breadcrumb-item>Angular</d-breadcrumb-item>
    <d-breadcrumb-item>@angular/router</d-breadcrumb-item>
    <d-breadcrumb-item>ActivatedRoute</d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    ActivatedRoute 示例
  </div>
  <!-- <div class="summary-markdown"></div> -->
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">

        <d-button (click)="getParamsDemo()">getParamsDemo</d-button>
        <p class="title">结果：</p>
        <p>name: {{ name }}</p>
        <p>age: {{ age }}</p>

      </div>
    </da-col-item>
  </da-layout-row>
</div>
