@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.da-content-card {
  min-height: 300px;
  padding: 1.5rem;
}



section {
  margin-bottom: 16px;
  border-bottom: solid 1px #ddd;
}

h3 {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}