<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item>
      <a routerLink="/">首页</a>
    </d-breadcrumb-item>
    <d-breadcrumb-item>Angular</d-breadcrumb-item>
    <d-breadcrumb-item>生命周期</d-breadcrumb-item>
    <d-breadcrumb-item>Counter Spy</d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    Counter Spy
  </div>
  <div class="summary-markdown">
    <markdown ngPreserveWhitespaces>
      ## Counter例子
  
      使用 `Directive` 对Counter Log的 建立/销毁，进行监控<br>
    </markdown>
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">

        <button (click)="updateCounter()">Update Counter</button>
        <button (click)="resetCounter()">Reset Counter</button>

        <app-counter [counter]="value"></app-counter>

        <div class="info">
          <h3>LifeCycle Log:</h3>
          <div *ngFor="let log of spyLog" class="log">{{ log }}</div>
        </div>

      </div>
    </da-col-item>
  </da-layout-row>
</div>
