@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.da-content-card {
  min-height: 300px;
  padding: 1.5rem;
}



table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}